* {
  box-sizing: border-box;
}

html, body {height: 100%;}

#root {
  background-color: black;
  display: flex;
  justify-content: center;
  // height: stretch;
  height: 100%;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: -100;
}

div.container {
  position: relative;
  background-color: white;
  height: 100%;
  width: 420px;
}
