div.dashboard {
  div.info {
    margin: 20px 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    color: black;
    border-radius: 10px;
    margin-bottom: 30px;

    span {
      color: rgb(0, 104, 9);
      font-weight: bold;
      font-size: 24px;
    }

    button {
      background-color: #ed254e;
      border-radius: 100%;
      font-size: 20px;
      color: rgb(255, 254, 254);
    }
  }

  .top {
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;

    button {
      font-size: 10px;
      background-color: gray;
    }
  }

  .action-buttons {
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }

    button {
      margin-right: 16px;
      width: 90px;
      white-space: normal;
      display: inline-block;
    }

    button.collect-fp {
      width: 120px;
    }

    button {
      background-color: rgb(204, 67, 67);
    }

    button:active {
      background-color: #4caf50;
    }
  }

  div.deposit-fp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    label {
      display: block;
      padding-bottom: 5px;
      font-weight: bold;
    }
  }
}

.send-payment {
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 60px);
  // grid-auto-rows: 90px;
  justify-content: center;
  grid-column-gap: 60px;
  grid-row-gap: 25px;
}

div.payment-players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  // margin-bottom: 10px;
  i {
    font-size: 28px;
    color: royalblue;
  }
}

.payment-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

form.add-deposit {
  text-align: center;
  button {
    margin-top: 20px;
  }
}

form.collect-deposit {
  p {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;

  }
  .submit {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  button {
    background-color: green;
  }
  .at-go {
    position: relative;
    input {
      position: absolute;
      left: 10px;
    }
    label {
      border: gray 2px solid;
      padding: 10px 10px 10px 30px;
      border-radius: 5px;
      margin-left: 5px;
    }
    input:checked + label {
      background-color: rgb(255, 233, 107);
    }
  }
}

form.yes-cancel {
  text-align: center;

  p:first-of-type {
    margin-bottom: 5px;
  }

  div.message {
    margin-bottom: 20px;
  }
  div.buttons {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    width: 80px;
  }

  button.yes {
    background-color: green;
  }
  button.cancel {
    background-color: red;
  }
}

form.set-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 100%;
  }
}
